a.axil-btn, button.axil-btn {
  border-radius: 6px;
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  font-weight: 700;
  display: inline-block;
  padding: 10px 16px;
  position: relative;
  transition: all .3s ease-in-out;
  z-index: 1;
}

a.edit {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: inline;
    padding-left: 1rem;
}

a.delete {
    color: var(--color-danger);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: inline;
    padding-left: 1rem;
}

.swal2-html-container{
    font-size: 1.4em !important;
}


.text-right {
    text-align:right;
}


a.button.light {
    color:#666;
    background:#ededed;
}

input[type=submit] {
    padding:0 !important;
    height:auto !important;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}
.axil-section-gap {
    padding: 40px 0;
}

.axil-product .cart-action li.select-option input[type=submit] {
    position: relative;
    height: 40px;
    line-height: 39px;
    padding: 0 18px !important;
    display: block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-secondary);
    transition: .3s;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.06);
    position: relative;
    z-index: 1;
}
