{% extends 'base.html' %}
{% load static %}
{% block title %}CHAPCHAP || Sign In{% endblock %}
{% block css %}
{# add some css link here#}
    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/sal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
{% endblock %}
{% block content %}



    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <a href="{% url 'frontend:index' %}" class="site-logo"><img src="{% static 'assets/images/logo/logo.png' %}" alt="logo"></a>
                </div>
                <div class="col-sm-8">
                    <div class="singin-header-btn">
                        <p>Not a member?</p>
                        <a href="{% url 'frontend:signup'%}" class="axil-btn btn-bg-secondary sign-up-btn">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--9">
                    <h3 class="title">We Offer the Best Products</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Sign in to CHAPCHAP.</h3>
                        <p class="b2 mb--55">Enter your detail below</p>
                         {% for message in messages %}
                          <div class="alert alert-danger mb--55 b2">
                            {{ message }}

                          </div>
                          {% endfor %}

                           {% for error in form.non_field_errors %}
                              <div class="alert alert-danger  mb-4">
                                {{ error}}
                              </div>
                           {% endfor %}
                        <form method="post" class="singin-form mt-1">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control"  name="username" id="username" {% if form.is_bound %} value="{{ form.username.value }}" {% endif %} />
								{% for error in form.username.errors %}
                                    <small class="text-danger ml-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" {% if form.is_bound %} value="{{ form.password.value }}"{% endif %} />
								{% for error in form.password.errors %}
                                    <small class="text-danger ml-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Sign In</button>
                                <a href="{% url 'frontend:reset-password' %}" class="forgot-btn">Forget password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS


{% endblock %}